/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import '~ngx-toastr/toastr';
html body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

:root {
    --main-color: rgb(63, 81, 181);
    --main-color-R: 63;
    --main-color-G: 81;
    --main-color-B: 181;
}

ul.no-dot {
    list-style: none;
}

app-nav nav {
    /* position: sticky;
    display: block; */
}

app-root {
    display: block;
    height: 100%;
}

@media only screen and (max-width:1000px) {
    .hide-sm {
        display: none !important;
    }
}

html {}

html,
body {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
    max-width: 1024px;
    margin: 0 auto;
}

.scroll-snap {
    scroll-snap-type: y proximity;
    scroll-snap-type: y mandatory;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}

.text-right {
    text-align: right;
}

.grid {
    display: grid;
}

.snap {
    scroll-snap-align: start;
}
