<!-- <h1 class="mt-2 mb-4">Projects</h1>
<div class="container text-center">
    <div
        class="row container text-center"
        style="margin-right: 0px; margin-left: 0px; padding: 0"
    >
        <div class="col-12 text-center">
            <form class="search-form" (submit)="onSubmit()" >
                <div class="input-group mb-2">
                    <div class="input-group">
                        <input
                            autocomplete="off"
                            type="text"
                            class="form-control"
                            placeholder="C#, Javascript, TypeScript ..."
                            [typeahead]="tags"
                            [typeaheadMultipleSearch]="true"
                            typeaheadMultipleSearchDelimiters=",|"
                            [(ngModel)]="filter"
                            name="filter"
                            [isAnimated]="true"
                            (typeaheadOnBlur)="onAnyChangeOfFilter($event)"
                            (typeaheadOnSelect)="onAnyChangeOfFilter($event)"
                            (change)="onAnyChangeOfFilter($event)"
                            (keydown)="onAnyChangeOfFilter($event)"

                        />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                Search
                            </button>
                        </div>


                    </div>
                         <div class=" text-center btn-group">
                            <button class="btn btn-primary " type="button">
                                Must contain at least one filter
                            </button>
                            <button class="btn btn-primary" type="button">
                                Must contain all filters
                            </button>
                        </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="container mb-2 mt-2">
        <app-project-card
            class=""
            *ngFor="let item of projects"
            [project]="item"
        >
        </app-project-card>
    </div>
</div> -->