.text-write,
h2,
h1 {
    color: white;
}

h1 {
    font-size: 56px;
    margin-bottom: 1em;
}

.scroll-arrow-wrap {
    position: absolute;
    z-index: 1;
    color: white;
    width: 100%;
    left: 0;
    margin: 1em 0;
    bottom: 10%;
}

.scroll-arrow-wrap>i {
    font-size: 3em;
    text-shadow: 0 0 3px #FFF;
    animation-name: arrow;
    animation: arrow 1s infinite;
    animation-direction: alternate;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

@keyframes arrow {
    from {
        top: 10px;
        text-shadow: 0 0 3px #FFF;
    }
    to {
        top: -10px;
        text-shadow: 0 0 0px #FFF;
    }
}