@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
:host {
    box-sizing: border-box;
}
.animat {
    height: 45px;
    overflow: hidden;
}
.pretext {
        color: white;
        font-size: 0.8em;
}
.animat > div > div {
    display: inline-block;
    padding: 0 8px;
    height: 50px;
    color: white;
    letter-spacing: 8px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.animat div:first-child {
    animation: show 10s linear infinite;
}
.animat div {
    height: 50px;
}
.animat div div {
    background-color: #42c58a;
    margin: 0;
}
.animat div:nth-child(2) div {
    background-color: var(--red);
}
.animat div:nth-child(3) div {
    background-color: var(--yellow);
}
.animat div:first-child div {
    background-color: #4ec7f3;
}
.animat div:last-child div {
    background-color: var(--indigo);
}
@keyframes show {
    0% {
        margin-top: 0px;
    }
    18.9% {
        margin-top: 0px;
    }

    20% {
        margin-top: -50px;
    }
    38.9% {
        margin-top: -50px;
    }
    40% {
        margin-top: -100px;
    }
    58.9% {
        margin-top: -100px;
    }
    60% {
        margin-top: -150px;
    }
    78.9% {
        margin-top: -150px;
    }
    80% {
        margin-top: -200px;
    }

    98.9% {
        margin-top: -200px;
    }
    100% {
        margin-top: 50px;
    }
}
#wrap {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    display: block;
}
