<div id="wrap">
    <div class="pretext">I'm a</div>

    <div class="animat" dir="ltr">
        <div>
            <div>.net</div>
        </div>
          <div>
            <div>angular</div>
        </div>
        <div>
            <div>backend</div>
        </div>
        <div>
            <div>node</div>
        </div>
          <div>
            <div>fullstack</div>
        </div>
          <div>
            <div>.net</div>
        </div>
    </div>
        <div class="pretext">developer</div>

</div>
