<div class="container">
    <div class="row">
        <nav class="nav">
            <a
                class="nav-link active"
                routerLinkActive="active"
                routerLink="/admin/projects"
                >project manger</a
            >
            <a
                class="nav-link active"
                routerLinkActive="active"
                routerLink="/admin/projects"
                >spy info</a
            >
        </nav>
        <nav class="nav">
            <a
                class="nav-link active"
                routerLinkActive="active"
                routerLink="/admin/projects"
                >redirect spy</a
            >
            <a
                class="nav-link active"
                routerLinkActive="active"
                routerLink="/admin/projects"
                >bot health</a
            >
        </nav>
        <nav class="nav">
            <a
                class="nav-link active"
                routerLinkActive="active"
                routerLink="/admin/projects"
                >dead man switch</a
            >
            <a
                class="nav-link active"
                routerLinkActive="active"
                routerLink="/admin/projects"
                >server health</a
            >
        </nav>
    </div>
</div>
