<div class="root">
  <div class="container">
    <ul class="no-dot">
      <li>
        <button class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/login"
        >
          login
        </button>
      </li>
       <li>
        <button class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/contact"
        >
          contact me
        </button>
      </li>
    </ul>
    <ul class="no-dot">
      <li>
        <button class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/pgp"
        >
          pgp public key
        </button>
      </li>
       <li>
        <button class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/contact"
        >

        </button>
      </li>
    </ul>
  </div>
      <div class="foot" styles="text-align: center!important;">© 2020</div>

</div>
