<div class="root">
  <div class="container">
    <ul class="no-dot">
      <li>
        <button class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/login"
        >
          התחברות
        </button>
      </li>
       <li>
        <button class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/contact"
        >
          צור קשר
        </button>
      </li>
    </ul>
    <div class="foot" styles="text-align: center!important;">© 2020</div>
  </div>
</div>
