<div class="banner">
    <div class="container">
        <div class="">
            <app-home-banner></app-home-banner>
        </div>
        <div></div>
    </div>
</div>
<div class="container">
    <h1>Languages, Tools, and ect...</h1>
    <hr />
    <div class="skills">
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/c--4.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/java-4.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/javascript.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/typescript.svg" />
        </div>

            <div class="wrap">
                <img src="/assets/svgs/custom-icons/node-js-logo.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/express-109.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/dot-net-core-7.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/angular-icon.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/postgresql.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/mongodb.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/visual-studio-code-1.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/intellij-idea-1.svg" />
            </div>
            <div class="wrap">
                <img src="/assets/svgs/custom-icons/github-octocat.svg" />
            </div>
        <hr />
    </div>
    <small>and more</small>
    <div class="container">
        <app-contact></app-contact>
    </div>
</div>
