<div class="">
    <div class="sideNav">
        <ul>
            <li><i class="far fa-circle"></i></li>
            <li><i class="far fa-circle"></i></li>
            <li><i class="far fa-circle"></i></li>
        </ul>
    </div>
    <div class="banner-vid-backg snap">
        <div class="banner">
            <div class="container">
                <div class="banner-wrap">
                    <app-home-banner (scrollDown)="scrollTo(skill)"></app-home-banner>
                </div>
                <div class="btn-sub">
                    <a (click)="scrollTo(projects)"> Projects </a>
                    <a (click)="scrollTo(cv)"> Resume </a>
                    <!-- <button mat-flat-button>Resume</button> -->
                </div>
                <canvas #canvasRain></canvas>
            </div>
        </div>

    </div>
    <div class="snap" #skill>
        <app-home-skill></app-home-skill>
    </div>
    <div class="snap" #projects>
        PROJECT
        <app-projects></app-projects>
    </div>
    <div class="" #cv>
        <app-cv></app-cv>
    </div>
    <div class="snap" #contact>
        <app-home-contact></app-home-contact>
    </div>
</div>
