.sideNav {
    color: #888;
    position: absolute;
    left: 0;
    z-index: 10;
    font-size: 1.5em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 0;
}

.sideNav ul li {
    display: block;
    margin: 0.2em 0;
}

button {
    margin: 1em;
}

.banner {
    background: url("/assets/sprites/bg_pattern.png") 0 0 repeat;
    /* background-color: rgba(var(--main-color-R), var(--main-color-G), var(--main-color-B), 1); */
    height: 100vh;
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    background-color: #3f51b5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/rect%3e%3cpath d='M0 0L591.08 0L0 195.1z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 195.1L591.08 0L619.47 0L0 281z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 281L619.47 0L1098.73 0L0 397.51z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 397.51L1098.73 0L1107.16 0L0 401.58z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1360.29 560L1440 410.97z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 410.97L1360.29 560L985.8199999999999 560L1440 186.40000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 186.39999999999998L985.8199999999999 560L603.3699999999999 560L1440 82.85999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 82.85999999999996L603.37 560L326.62 560L1440 79.18999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(63%2c 81%2c 181%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.container {
    width: 100%;
}

.banner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-vid-backg video {
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: fill;
}


/* .banner::after {
    position: absolute;
    display: block;
    height: 20vh;
    width: 100%;
    content: " ";
    background-color: var(--primary);
    background: linear-gradient( 180deg, rgba(39, 128, 227, 1) 0%, rgba(39, 128, 227, 1) 50%, rgba(39, 128, 227, 0.5) 100%);
    animation: wave 5s infinite;
    animation-direction: alternate;
    top: 99%;
    z-index: 0;
}
*/

.banner-vid-backg {
    overflow: hidden;
    overflow: hidden;
    position: relative;
}

h2 {
    padding: 0.5em;
    margin: 2em;
    border-bottom: 1px solid;
    margin: 0.5em !important;
    display: inline-block;
}

.btn-sub a::before,
.btn-sub a::after {
    transition: all 0.8s;
}

.btn-sub a {
    color: #fff;
    position: relative;
    border: 1px solid #fff;
    border-width: 0 1px;
    padding: 1em 1.5em;
    font-size: 1.5em;
    margin: 1em;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    transition: all 2s;
    cursor: pointer;
}

.btn-sub a:hover,
.btn-sub a:focus {
    background-color: #fff;
    color: #000;
}

.btn-sub a::before,
.btn-sub a::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    border: 1px solid;
    border-width: 1px 0;
    transform: skewX(-30deg);
    margin-bottom: -1px;
}

.btn-sub a::before {
    left: -20px;
}

.btn-sub a::after {
    right: -20px;
}

.btn-sub a:hover::before,
.btn-sub a:focus::before,
.btn-sub a:hover::after,
.btn-sub a:focus:after {
    width: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    z-index: -1;
}

.snap {
    scroll-snap-align: start;
    /* min-height: 100vh; */
    /* border: 2px solid red; */
    box-sizing: border-box;
}

@media only screen and (max-width:1023px) {
    .btn-sub {}
}
