button {
    margin: 1em;
}
.banner {
    background-color: var(--primary);
    padding: 2em 0;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
    color: white;
}
.banner::after {
    position: absolute;
    display: block;
    height: 200px;
    width: 100%;
    content: " ";
    background-color: var(--primary);
    background: linear-gradient(
        180deg,
        rgba(39, 128, 227, 1) 0%,
        rgba(39, 128, 227, 1) 50%,
        rgba(39, 128, 227, 0.5) 100%
    );
    animation: wave 4s infinite both;
    animation-direction: alternate;

    z-index: 0;
}

@keyframes wave {
    0% {
        clip-path: polygon(
            100% 0%,
            0% 0%,
            0% 65%,
            1% 64.95%,
            2% 64.8%,
            3% 64.6%,
            4% 64.3%,
            5% 63.9%,
            6% 63.45%,
            7% 62.9%,
            8% 62.25%,
            9% 61.55%,
            10% 60.8%,
            11% 59.95%,
            12% 59.05%,
            13% 58.1%,
            14% 57.1%,
            15% 56.05%,
            16% 55%,
            17% 53.9%,
            18% 52.8%,
            19% 51.65%,
            20% 50.5%,
            21% 49.35%,
            22% 48.2%,
            23% 47.05%,
            24% 45.9%,
            25% 44.8%,
            26% 43.75%,
            27% 42.75%,
            28% 41.75%,
            29% 40.8%,
            30% 39.9%,
            31% 39.1%,
            32% 38.35%,
            33% 37.65%,
            34% 37.05%,
            35% 36.5%,
            36% 36.05%,
            37% 35.65%,
            38% 35.35%,
            39% 35.15%,
            40% 35.05%,
            41% 35%,
            42% 35.05%,
            43% 35.2%,
            44% 35.45%,
            45% 35.75%,
            46% 36.15%,
            47% 36.65%,
            48% 37.2%,
            49% 37.85%,
            50% 38.55%,
            51% 39.35%,
            52% 40.2%,
            53% 41.1%,
            54% 42.05%,
            55% 43.05%,
            56% 44.1%,
            57% 45.15%,
            58% 46.3%,
            59% 47.4%,
            60% 48.55%,
            61% 49.7%,
            62% 50.85%,
            63% 52%,
            64% 53.15%,
            65% 54.25%,
            66% 55.35%,
            67% 56.4%,
            68% 57.45%,
            69% 58.4%,
            70% 59.35%,
            71% 60.2%,
            72% 61.05%,
            73% 61.8%,
            74% 62.45%,
            75% 63.05%,
            76% 63.6%,
            77% 64.05%,
            78% 64.4%,
            79% 64.7%,
            80% 64.85%,
            81% 65%,
            82% 65%,
            83% 64.9%,
            84% 64.75%,
            85% 64.5%,
            86% 64.2%,
            87% 63.75%,
            88% 63.25%,
            89% 62.7%,
            90% 62.05%,
            91% 61.3%,
            92% 60.5%,
            93% 59.65%,
            94% 58.75%,
            95% 57.8%,
            96% 56.8%,
            97% 55.75%,
            98% 54.65%,
            99% 53.55%,
            100% 52.4%
        );
    }

    100% {
        height: 250px;

        clip-path: polygon(
            100% 0%,
            0% 0%,
            0% 54.65%,
            1% 55.75%,
            2% 56.8%,
            3% 57.8%,
            4% 58.75%,
            5% 59.65%,
            6% 60.5%,
            7% 61.3%,
            8% 62.05%,
            9% 62.7%,
            10% 63.25%,
            11% 63.75%,
            12% 64.2%,
            13% 64.5%,
            14% 64.75%,
            15% 64.9%,
            16% 65%,
            17% 65%,
            18% 64.85%,
            19% 64.7%,
            20% 64.4%,
            21% 64.05%,
            22% 63.6%,
            23% 63.05%,
            24% 62.45%,
            25% 61.8%,
            26% 61.05%,
            27% 60.2%,
            28% 59.35%,
            29% 58.4%,
            30% 57.45%,
            31% 56.4%,
            32% 55.35%,
            33% 54.25%,
            34% 53.15%,
            35% 52%,
            36% 50.85%,
            37% 49.7%,
            38% 48.55%,
            39% 47.4%,
            40% 46.3%,
            41% 45.15%,
            42% 44.1%,
            43% 43.05%,
            44% 42.05%,
            45% 41.1%,
            46% 40.2%,
            47% 39.35%,
            48% 38.55%,
            49% 37.85%,
            50% 37.2%,
            51% 36.65%,
            52% 36.15%,
            53% 35.75%,
            54% 35.45%,
            55% 35.2%,
            56% 35.05%,
            57% 35%,
            58% 35.05%,
            59% 35.15%,
            60% 35.35%,
            61% 35.65%,
            62% 36.05%,
            63% 36.5%,
            64% 37.05%,
            65% 37.65%,
            66% 38.35%,
            67% 39.1%,
            68% 39.9%,
            69% 40.8%,
            70% 41.75%,
            71% 42.75%,
            72% 43.75%,
            73% 44.8%,
            74% 45.9%,
            75% 47.05%,
            76% 48.2%,
            77% 49.35%,
            78% 50.5%,
            79% 51.65%,
            80% 52.8%,
            81% 53.9%,
            82% 55%,
            83% 56.05%,
            84% 57.1%,
            85% 58.1%,
            86% 59.05%,
            87% 59.95%,
            88% 60.8%,
            89% 61.55%,
            90% 62.25%,
            91% 62.9%,
            92% 63.45%,
            93% 63.9%,
            94% 64.3%,
            95% 64.6%,
            96% 64.8%,
            97% 64.95%,
            98% 65%,
            99% 65.5025%,
            100% 66.2735%
        );
    }
}
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills > i {
    width: 100px;
    font-size: 5em;
}
.skills > .wrap {
    width: 80px;
    margin: 1em;
    text-align: center;
}

.skills > .wrap > img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;

}

.skills:hover > .wrap > img{
      filter: grayscale(100%);
      cursor: pointer;
}
.skills > .wrap:hover > img {
    transform: scale(1.5);
    filter: grayscale(0%);

}
