<form action="">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h1>Contact </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 form-group">
                <label for="exampleInputEmail1">Name</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="ישראל ישראלי"
                />
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <label for="exampleInputEmail1">Phone number</label>
                <input
                    type="phone"
                    class="form-control"
                    placeholder="0500000000"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 form-group">
                <label for="exampleInputEmail1">Email</label>
                <input
                    type="phone"
                    class="form-control"
                    placeholder="0500000000"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 form-group">
                <label for="exampleInputEmail1">Message</label>
                <textarea class="form-control"> </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 form-group text-right">
                  <button type="submit" class="btn btn-primary">Send</button>

            </div>
        </div>
    </div>
</form>
