<div class="main">
    <div class="row info">
        <h1>Contact me</h1>
        <ul>
            <li>
                <span>Phone:</span>
                <button *ngIf="!showPhone" mat-button color="primary" (click)="showPhone=true">Reveal</button>
                <a href="#" *ngIf="showPhone">
                0524212115
            </a>
            </li>
            <li>
                <span>Email:</span>
                <a href="mailto:anton@antonweb.co.il">anton@antonweb.co.il
            </a>
            </li>
            <li>
                <span>Linkedin:</span>
                <a href="https://antct.icu/cd3y">https://www.linkedin.com/in/anton-golovachev-620a3b173/
            </a>
            </li>
        </ul>
    </div>
    <div class="contact-form-wrap ">
        <mat-card [class.mat-elevation-z8]="true">
            <h2>Or just use this form</h2>

            <form #contactForm="ngForm" (submit)="contactForm.valid && onFormSubmit()">
                <div class="container">
                    <div class="row">
                        <div class="">
                            <mat-form-field appearance="fill">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="John McJackson" [(ngModel)]="model.name" name="name" #name="ngModel" />
                            </mat-form-field>
                        </div>

                        <div class="">
                            <mat-form-field appearance="fill">
                                <mat-label>Phone Number</mat-label>
                                <input type="tel" matInput placeholder="0500000000" [(ngModel)]="model.phoneNumber" name="phoneNumber" tel />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="phone" matInput placeholder="example@example.com" [(ngModel)]="model.email" name="email" email #email="ngModel" />
                            </mat-form-field>
                        </div>
                        <div [hidden]="
                            email.valid ||
                            !email.dirty ||
                            email.pristine ||
                            !email.touched
                        " class="col-sm-12 col-md-12 form-group"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Message</mat-label>
                                <textarea rows="5" matInput [(ngModel)]="model.message" name="message" placeholder="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis dolor minima et sapiente saepe adipisci repellat? Illum eius, itaque omnis voluptatum quia dicta ut ullam!"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 form-group text-right btn-wrap">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.form.valid || loading">
                            Send Message
                        </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>


</div>
