<div class="container text-left">
    <h4>Download resume as
    <a href="#" download="http://antct.icu/wj-i" >WORD</a>
    <a href="#http://antct.icu/mc5z" download>PFD</a>


    </h4>
</div>
<div class="" hidden>
 <style>
 sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
    border: #B85B22 solid;
	height: 66em;
	font-size: 1.2em;
	margin: 0em;
	display: block;
    border-style: none;
    margin-top: -5em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	width: 100%;
	clip: rect(-0.041667em,51.04167em,66.04166em,-0.041667em);
	position: absolute;
	pointer-events: none;
}
.stl_05 {
	position: relative;
}

.ie .stl_06 {
}
.stl_07 {
	font-size: 1.67em;
	color: #000000;
	line-height: 1.225299em;
}
.stl_08 {
	letter-spacing: 0em;
}
.stl_09 {
	letter-spacing: -0.01em;
}
.stl_10 {
	font-size: 0.92em;
	color: #548AB7;
	line-height: 1.229087em;
}

.stl_11 {
	font-size: 0.92em;
	color: #000000;
	line-height: 1.720722em;
}
.stl_12 {
	font-size: 0.64em;
	color: #548AB7;
	line-height: 1.223087em;
}
.stl_13 {
	font-size: 1em;
	color: #000000;
	line-height: 1.220703em;
}
.stl_14 {
	font-size: 0.92em;
	color: #000000;
	line-height: 1.229087em;
}
.stl_15 {
	font-size: 0.75em;
	color: #548AB7;
	line-height: 0.814941em;
}
.stl_16 {
	font-size: 0.92em;
	color: #000000;
	line-height: 1.124861em;
}
.stl_17 {
	font-size: 0.92em;
	color: #000000;
	line-height: 1.229087em;
}
.stl_18 {
	font-size: 0.75em;
	color: #000000;
	line-height: 0.814941em;
}
.stl_19 {
	font-size: 0.75em;
	color: #B85B22;
	line-height: 0.814941em;
}
.stl_20 {
	font-size: 0.67em;
	color: #B85B22;
	line-height: 1.441747em;
}
.stl_21 {
	font-size: 0.64em;
	color: #000000;
	line-height: 1.712322em;
}
.stl_22 {
	font-size: 0.83em;
	color: #000000;
	line-height: 1.225299em;
}

 </style><style></style>

		<meta charset="utf-8">
		<title>
		</title>

</div>
<div class="container hidden-sm">
    <div data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
        <div class="stl_02">
            <div class="stl_03">
            </div>
            <div class="stl_view">
                <div class="">
                    <div class="stl_01" style="top: 8.2885em; left: 3.3766em">
                        <span class="stl_07 stl_08" style="word-spacing: 0em"
                            >Anton Golovach<span class="stl_09"
                                >ev &nbsp;</span
                            ></span
                        >
                    </div>
                    <div class="stl_01" style="top: 11.6276em; left: 21.125em">
                        <span
                            class="stl_10 stl_09"
                            style="font-weight: bold; word-spacing: 0.09em"
                            >WORK EXPERIENCE &nbsp;</span
                        >
                    </div>
                    <div
                        class="stl_01"
                        style="top: 12.846em; left: 3em; z-index: 24"
                    >
                        <span class="stl_10" style="font-weight: bold">C</span
                        ><span class="stl_11">&#8203;</span
                        ><span class="stl_12" style="font-weight: bold"
                            >ONTACT &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 14.6104em; left: 3em">
                        <span class="stl_13">phone 052-4212115 &nbsp;</span>
                    </div>
                    <div class="stl_01" style="top: 13.3776em; left: 21.125em">
                        <span
                            class="stl_14 stl_09"
                            style="font-weight: bold; word-spacing: 0.07em"
                            >Minecraft Plugin Developer | 2019–current
                            &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 14.4088em; left: 21.125em">
                        <span class="stl_15 stl_08"
                            >F<span class="stl_08">reelancer &nbsp;</span></span
                        >
                    </div>
                    <div class="stl_01" style="top: 15.4205em; left: 22.625em">
                        <span class="stl_16">●</span>
                    </div>
                    <div class="stl_01" style="top: 15.3776em; left: 24.125em">
                        <span class="stl_17 stl_08" style="word-spacing: 0.23em"
                            >Developing pl<span class="stl_09"
                                >ugins</span
                            ></span
                        ><span
                            class="stl_17 stl_09"
                            style="word-spacing: 0.02em"
                            >&nbsp;for</span
                        ><span
                            class="stl_17 stl_09"
                            style="word-spacing: 0.05em"
                            >&nbsp;Minecraft (Java</span
                        ><span
                            class="stl_17 stl_09"
                            style="word-spacing: 0.06em"
                            >&nbsp;edition) &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 16.5026em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.06em"
                            >Using Java, MySQL MairiaDB &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 16.9854em; left: 3em">
                        <span class="stl_13"
                            >
                            <a href="mailto:anton@antonweb.co.il">
                                                                email: anton@antonweb.co.il &nbsp;

                            </a>
                            </span
                        >
                    </div>
                    <div class="stl_01" style="top: 18.7526em; left: 21.125em">
                        <span class="stl_14" style="font-weight: bold">.</span>
                    </div>
                    <div class="stl_01" style="top: 18.7526em; left: 21.3697em">
                        <span
                            class="stl_14 stl_09"
                            style="font-weight: bold; word-spacing: 0.05em"
                            >NET developer | 2017-2018 &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 19.2838em; left: 3em">
                        <a href="http://antct.icu/7oug" target="_blank"
                            ><span class="stl_18 stl_08"
                                >W<span class="stl_08"
                                    >ebsite: &nbsp;</span
                                ></span
                            ></a
                        >
                    </div>
                    <div class="stl_01" style="top: 19.7838em; left: 21.125em">
                        <span class="stl_15 stl_08"
                            >D<span class="stl_08">mantech &nbsp;</span></span
                        >
                    </div>
                    <div class="stl_01" style="top: 20.1588em; left: 3em">
                        <a href="http://antct.icu/7oug" target="_blank"
                            ><span class="stl_19 stl_08"
                                >h<span class="stl_08"
                                    >ttps://www.antonweb.co.il/ &nbsp;</span
                                ></span
                            ></a
                        >
                    </div>
                    <div class="stl_01" style="top: 20.7955em; left: 22.625em">
                        <span class="stl_16">●</span>
                    </div>
                    <div class="stl_01" style="top: 20.7526em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.05em"
                            >Hands-on experience in developing CRM websites for
                            the &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 21.9088em; left: 3em">
                        <a href="http://antct.icu/ev_9" target="_blank"
                            ><span class="stl_18 stl_08"
                                >L<span class="stl_08"
                                    >inkedIn: &nbsp;</span
                                ></span
                            ></a
                        >
                    </div>
                    <div class="stl_01" style="top: 21.8776em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.07em"
                            >company’s clients using dotNet &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 23.0026em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.07em"
                            >Responsible for maintaining ASP.NET websites
                            &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 22.7838em; left: 3em">
                        <a href="http://antct.icu/ev_9" target="_blank"
                            ><span class="stl_19 stl_08"
                                >h<span class="stl_08"
                                    >ttps://www.linkedin.com/in/anton-go
                                    &nbsp;</span
                                ></span
                            ></a
                        >
                    </div>
                    <div class="stl_01" style="top: 23.6588em; left: 3em">
                        <a href="http://antct.icu/ev_9" target="_blank"
                            ><span class="stl_19 stl_08"
                                >l<span class="stl_08"
                                    >ovachev-620a3b173/ &nbsp;</span
                                ></span
                            ></a
                        >
                    </div>
                    <div class="stl_01" style="top: 23.0455em; left: 22.625em">
                        <span class="stl_16">●</span>
                    </div>
                    <div
                        class="stl_01"
                        style="top: 25.4088em; left: 3em; z-index: 187"
                    >
                        <a href="http://antct.icu/i1yi" target="_blank"
                            ><span class="stl_18 stl_08"
                                >G<span class="stl_08"
                                    >itHub: &nbsp;</span
                                ></span
                            ></a
                        >
                    </div>
                    <div class="stl_01" style="top: 25.2526em; left: 21.125em">
                        <span
                            class="stl_14 stl_09"
                            style="font-weight: bold; word-spacing: 0.06em"
                            >Java Developer | 2014-2017 &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 26.2528em; left: 3em">
                        <a href="http://antct.icu/i1yi" target="_blank"
                            ><span
                                class="stl_20 stl_09"
                                style="font-weight: bold"
                                >https://github.c<span class="stl_08"
                                    >om/pycnonotus &nbsp;</span
                                ></span
                            ></a
                        >
                    </div>
                    <div class="stl_01" style="top: 26.2838em; left: 21.125em">
                        <span class="stl_15 stl_08"
                            >F<span class="stl_08">reelancer &nbsp;</span></span
                        >
                    </div>
                    <div class="stl_01" style="top: 27.2955em; left: 22.625em">
                        <span class="stl_16">●</span>
                    </div>
                    <div class="stl_01" style="top: 27.2526em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.05em"
                            >Developed game servers, addons, and plugins for
                            &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 28.3776em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.07em"
                            >Minecraft and MapleStory Private Server
                            &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 29.5026em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.06em"
                            >Using Java, MySQL &nbsp;</span
                        >
                    </div>
                    <div
                        class="stl_01"
                        style="top: 29.7835em; left: 3em; z-index: 239"
                    >
                        <span
                            class="stl_10"
                            style="font-weight: bold; word-spacing: 0.05em"
                            >P</span
                        ><span class="stl_11" style="word-spacing: 0.05em"
                            >&#8203;</span
                        ><span
                            class="stl_12 stl_08"
                            style="font-weight: bold; word-spacing: 0.07em"
                            >ROFESSIONA<span class="stl_09">L</span></span
                        ><span
                            class="stl_21 stl_09"
                            style="word-spacing: 0.08em"
                            >&#8203; </span
                        ><span class="stl_11" style="word-spacing: 0.05em"
                            >&#8203;</span
                        ><span
                            class="stl_12 stl_08"
                            style="font-weight: bold; word-spacing: 0.07em"
                            >KNOWLEDG<span class="stl_09">E &nbsp;</span></span
                        >
                    </div>
                    <div class="stl_01" style="top: 31.4713em; left: 3.2076em">
                        <span class="stl_18"
                            >C#, Java, HTML, CSS, JavaScript(ES6), &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 32.3463em; left: 3em">
                        <span class="stl_18"
                            >Ajax, jQuery, TypeScript, NodeJS, &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 33.2213em; left: 3em">
                        <span class="stl_18"
                            >dotNet(Core) , Angular, MySQL, &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 34.0963em; left: 3em">
                        <span class="stl_18"
                            >PostgreSQL, MariaDB, MSSQL, &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 34.9713em; left: 3em">
                        <span class="stl_18 stl_08"
                            >M<span class="stl_08">ongoDB &nbsp;</span></span
                        >
                    </div>
                    <div class="stl_01" style="top: 36.1276em; left: 21.125em">
                        <span
                            class="stl_10 stl_08"
                            style="font-weight: bold; word-spacing: 0em"
                            >MILITARY SER<span class="stl_09"
                                >VICE &nbsp;</span
                            ></span
                        >
                    </div>
                    <div class="stl_01" style="top: 37.1104em; left: 3em">
                        <span class="stl_13"
                            >Tools &amp; IDEs: Postman, Git, Visual &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 38.2979em; left: 3em">
                        <span class="stl_13"
                            >Studio, Visual code, Intellij, &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 39.4854em; left: 3em">
                        <span class="stl_13">Eclipse, NetBeans, &nbsp;</span>
                    </div>
                    <div class="stl_01" style="top: 37.8776em; left: 21.125em">
                        <span
                            class="stl_14 stl_09"
                            style="font-weight: bold; word-spacing: 0.05em"
                            >System admin | 2014-2017 &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 38.9088em; left: 21.125em">
                        <span class="stl_15">Northern Corps 479 &nbsp;</span>
                    </div>
                    <div class="stl_01" style="top: 39.9205em; left: 22.625em">
                        <span class="stl_16">●</span>
                    </div>
                    <div class="stl_01" style="top: 39.8776em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.06em"
                            >Responsible for managing the day-to-day operation
                            of the &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 41.0026em; left: 24.125em">
                        <span class="stl_17 stl_09" style="word-spacing: 0.08em"
                            >network, host computers, permissions &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 40.6729em; left: 3em">
                        <span class="stl_13 stl_08"
                            >W<span class="stl_08"
                                >ebStorm,Rider &nbsp;</span
                            ></span
                        >
                    </div>
                    <div class="stl_01" style="top: 44.1588em; left: 3em">
                        <span class="stl_18 stl_08"
                            >L<span class="stl_08">anguages: &nbsp;</span></span
                        >
                    </div>
                    <div class="stl_01" style="top: 45.0338em; left: 3.2076em">
                        <span class="stl_18">Hebrew Fluent &nbsp;</span>
                    </div>
                    <div class="stl_01" style="top: 45.9088em; left: 3.2076em">
                        <span class="stl_18" style="word-spacing: 0.28em"
                            >English Fluent &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 46.7838em; left: 3.2076em">
                        <span class="stl_18"
                            >Russian Native language &nbsp;</span
                        >
                    </div>
                    <div class="stl_01" style="top: 55.6442em; left: 29.8944em">
                        <span class="stl_22 stl_09" style="word-spacing: 0.07em"
                            >Recommendations will be supplied on demand
                            &nbsp;</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
