:host {
    position: relative;
    display: block;
    margin-bottom: -3px;
}
.nav-animate {
    background: var(--primary);
    content: "";
    height: 3px;
    position: relative;
    border-bottom: 1px solid;
    border-color: var(--primary);
    top: 0px;
}
.bar {
    background-color: white;
    height: 100%;
    width: 60px;
    content: "";
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 1),
        0px 8px 16px 0px rgba(255, 255, 255, 1);
    border-radius: 20em;
    position: relative;
    backdrop-filter: blur(50px);
    width: 100px;
    left: 400px;
    top: -10px;
    transition: all 0.2s ease-in-out 0s;
    z-index: 100000;
    border-radius: 1em;
}
