<div class="row">
    <h1 mat-h1 class="mat-h1 ">Languages, Tools, and ect...</h1>
    <mat-divider></mat-divider>
    <div class="skills">
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/c--4.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/java-4.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/javascript.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/typescript.svg" />
        </div>

        <div class="wrap">
            <img src="/assets/svgs/custom-icons/node-js-logo.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/express-109.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/dot-net-core-7.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/angular-icon.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/postgresql.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/mongodb.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/visual-studio-code-1.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/intellij-idea-1.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/github-octocat.svg" />
        </div>
        <div class="wrap">
            <img src="/assets/svgs/custom-icons/tux-linux.svg" />
        </div>
        <hr />
    </div>
    <small>and more</small>
</div>
<!-- <div class="line">
    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ad at harum molestias eaque iusto sed ex iure delectus dolores itaque tempora consectetur, corporis tempore.
    </div>
</div> -->